$enable-gradients: true; 

.bg-opacity{
    background-color: rgba(0,0,0,0.8); 
    height: 100vh; 
}
#sidebar{
    width: 100%;
}
.fixed{
    position: fixed; 
    top: 0; 
    width: 13.8vh;
    /*width:6.8%; */
    display: inline-block;
    z-index: 1;
}
.menuBox{
    height: 16.8vh; 
}
.dark-blue{
    background-color: #0643a5; 
}
.light-blue{
     background-color: #3474db; 
}
.padding-0{
    padding: 0; 
}
.font-30{
    font-size: 3em; 
}
.font-15{
    font-size: 1.5em;
}
.font-20{
    font-size: 2.5em; 
}
.margin-big{
    margin-left: 35%; 
}
.bg-img{
    background-image: url("../img/bg-img-1.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}
.fixed-height{
    height: 100vh; 
}
.margin-lr{
    margin-left: 5%; 
    margin-right: 5%; 
}
/******BASICS********/
.bg-img-basics{
    background-image: url("../img/bg-basics.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}
.wh-10{
    padding-left: 5px; 
    padding-right: 5px; 
}
.scroll-spy{
    position: fixed; 
    top:0; 
    right:0; 
    height: 100vh; 
    z-index: 10; 
}
.scroll-spy a{
    padding:5px;
    margin: 10px; 
    margin-left: 90%; 
    background-color: blue; 
}
.text-black{
    color: black; 
}
.margin-custom{
    margin-left: 17vh;
    
}